<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Pagina Inicial</title>
</head>
<body>
    <h1>Frota!</h1>

    <ul>
        {% for carro in carros %}
            <li>{{ carro[1] }} - {{ carro[2] }} - {{ carro[3] }}</li>
            <a href="{{ url_for('delete_carro', matricula=carro[3]) }}" onclick="return confirm('Queres mesmo remover este carro?');">Apagar</a>
        {% endfor %}
        <br>
        {% if error_message %}
        <p>{{ error_message }}</p>
       
    {% endif %}
    </ul>

    <h2>Adicionar Carro!</h2>
    <form action="{{ url_for('add_carro') }}" method="post">
        <label for="marca">Marca:</label>
        <input type="text" name="marca" required>
        <br>
        <br>
        <label for="modelo">Modelo:</label>
        <input type="modelo" name="modelo" required>
        <br>
        <br>
        <label for="matricula">Matricula:</label>
        <input type="matricula" name="matricula" pattern="^[A-Za-z0-9]{2}-[A-Za-z0-9]{2}-[A-Za-z0-9]{2}$" title="Utilize o formato XX-XX-XX" required>
        <br>
        <br>
        <button type="submit">Adicionar Carro!</button>
    </form>
</body>
</html>